.card-list {
  margin-bottom: 2rem;
}

.card-list__player--zone .player--list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.15rem;
}

.card-list__player--zone .player--list.card-small {
  grid-template-columns: repeat(5, 1fr);
}

.card-list__player--zone .player--list.card-big {
  grid-template-columns: repeat(6, minmax(100px, 1fr));
}
